[include]
	path = ~/.config/delta/catppuccin.gitconfig

[user]
  name = Sylvain Castaing
  email = {{ .git.personal.email }}
  signingkey = {{ .git.personal.signingkey }}

[core]
  editor = nvim
  excludesFile = ~/.gitignore_global
  pager = delta

[gpg]
  program = gpg

[commit]
  gpgSign = true
  template = ~/.gitmessage

[tag]
  gpgSign = true

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  dark = true
  features = catppuccin-mocha
  side-by-side = true

[merge]
  conflictStyle = zdiff

[pull]
  rebase  = true

[log]
  follow  = true

[alias]
  a   = add
  b   = branch
  c   = commit
  co  = checkout
  d   = diff
  lg  = log --graph --date=relative --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset'
  pl  = pull
  ps  = push
  psf = push --force
  r   = rebase
  s   = status

[includeIf "gitdir/i:{{ .git.work.dir }}"]
  path = ~/.gitconfig.work

